<span ng-show="item.surname">
    [[ item.surname ]]
   <br />
</span>
<span ng-show="item.first_name">
    [[ item.first_name ]]
   <br />
</span>
<span ng-show="item.address_line1">
    [[ item.address_line1 ]]
   <br />
</span>
<span ng-show="item.address_line2">
    [[ item.address_line2 ]]
   <br />
</span>
<span ng-show="item.post_code">
    [[ item.post_code ]]
   <br />
</span>
<span ng-show="item.tel">
    [[ item.tel ]]
   <br />
</span>
<span ng-show="item.relationship_to_patient">
    [[ item.relationship_to_patient ]]
   <br />
</span>