<div class="form-group"
     {% if visibility %} {{ visibility|safe }} {% endif %}
     >
  <label class="control-label col-sm-3">{{ label }}</label>
  <div class="col-sm-8"
    ng-class="{'has-error': {{ formname }}.$submitted && {{ formname }}[{{ element_name }}].$error.required}"
  >
    <div class="row">
      <div class="col-md-3 col-md-push-2">
        <label style="width: 100%" uib-btn-checkbox ng-model="{{ model }}" class="btn btn-lg btn-default" btn-checkbox-true="1" btn-checkbox-false="0">
          <span ng-show="{{ model }}">&#10004;</span>
          <span ng-hide="{{ model }}">✘</span>
        </label>
      </div>
    </div>
  </div>
</div>
