<div class="content-offset" style="width: 95%">
  <div class="row">
    <div class="col-md-12">
      <h2>My Clinc</h2>
      <div class="row">
        <div class="col-md-6">
          <h3>Patients This Quarter</h3>
          <div class="row">

            <div class="col-md-6">
              <div class="superstat">
                <div class="supernumber">
                  98
                </div>
                <div class="superlabel">
                  Routine referrals treated
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="superstat">
                <div class="supernumber">
                  19
                </div>
                <div class="superlabel">
                  Urgent referrals treated
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-6">
          <h3>Patients Pending</h3>

          <div class="row">

            <div class="col-md-6">
              <div class="superstat">
                <div class="supernumber">
                  23
                </div>
                <div class="superlabel">
                  Routine referrals
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="superstat">
                <div class="supernumber">
                  0
                </div>
                <div class="superlabel">
                  Urgent Referrals
                </div>
              </div>
            </div>


          </div>


        </div>
      </div>
      <h2>Referral Progress</h2>
      <div class="row">
        <div line-chart></div>
      </div>
    </div>
  </div>
</div>
