<div class="content-offset" style="width: 95%">
  <div class="row">
    <div class="col-md-12">
      <h2>Morpeth Clinc</h2>
      <div class="row">


        <div class="col-md-6">
          <h3>Patients pending</h3>

          <div class="row">

            <div class="col-md-6">
              <div class="superstat">
                <div class="supernumber">
                  23
                </div>
                <div class="superlabel">
                  Routine referrals
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="superstat failing">
                <div class="supernumber">
                  1
                </div>
                <div class="superlabel">
                  Urgent Referrals
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <h3>Patients so far this quarter</h3>
          <div class="row">

            <div class="col-md-6">
              <div class="superstat">
                <div class="supernumber">
                  98
                </div>
                <div class="superlabel">
                  Routine referrals in treatment
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="superstat">
                <div class="supernumber">
                  19
                </div>
                <div class="superlabel">
                  Urgent referrals in treatment
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
      <h2>Referral Progress</h2>
      <div class="row">
        <div line-chart="clinic"></div>
      </div>
    </div>
  </div>
</div>
