{% extends 'app_layouts/layout_base.html' %}
{% load menus %}

{% block navbar %}{% include 'navbar.html' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2
  {% if perms.rms.can_refer %}can-refer {% endif %}
  {% if perms.rms.can_assign_location %}can-assign {% endif %}
  {% if perms.rms.can_confirm_location %}can-confirm {% endif %}
  " id="side-nav">
  <ul class="app-info">
    <li>
      <i class="fa fa-user green"></i>&nbsp;
      {{ user.username }}
    </li>
  </ul>
  {% menu %}
</div>
<div class="col-md-10">
  <div class="outer-container" ng-view autoscroll="true" ng-hide="ready==false"></div>
  {% include 'logout_modal.html' %}
  <div growl></div>
</div>
</div>

<script>
// temporary for try outs
jQuery(function($){

  // Touch Device Detection
  var isTouchDevice = 'ontouchstart' in document.documentElement;
  if( isTouchDevice ) {
    $('body').addClass('touch');
  }

});
</script>

<div class="switch-user-bar">
  <div class="switch-user-bg">
  </div>
  <div class="row switch-user-container">
    <div class="col-md-10 col-md-push-1">
      <div class="col-md-4 text-center">
        <a class="btn btn-lg can-refer btn-{% if user.username == 'linda' %}active{% else %}primary{% endif %}" href="{% url 'change_user' user='linda' %}">Linda</a>
      </div>
      <div class="col-md-4 text-center">
        <a class="btn btn-lg can-assign btn-{% if user.username == 'mary' %}active{% else %}primary{% endif %}" href="{% url 'change_user' user='mary' %}">Mary</a>
      </div>
      <div class="col-md-4 text-center">
        <a class="btn btn-lg can-confirm btn-{% if user.username == 'matt' %}active{% else %}primary{% endif %}" href="{% url 'change_user' user='matt' %}">Matt</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
